/* Estilo de mi pag */
*{    
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


body {
  background-color:#ffd6d6 ;
 
  }
  a{
    text-decoration: none;
    color: #555;
}

  body{
    font-family: 'Poppins', sans-serif;
}

  nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;

}

.navbar{
  display: flex;
  align-items: center;
  padding: 20px;
}

.container{
  max-width: 1200px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}


/*Contacto*/
  
  #title-Tag-Line {
    font-size: 20px;
  }
   .card-item__bg{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: block;
    position: relative;
    margin: 30px auto;
    transform: translate(0px, 50px);
    z-index: 5;
  } 
  
  /* form animation starts */
  .form {
    background: #fff;
    box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
    border-radius: 5px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    left: 0;
    right: 0;
    position: absolute;
    border-top: 5px solid #0e3721;
  /*   z-index: 1; */
    animation: bounce 1.5s infinite;
  }
  ::-webkit-input-placeholder {
    font-size: 1.3em;
  }
  
  .title{
    display: block;
    font-family: sans-serif;
    margin: 10px auto 5px;
    width: 300px;
  }
  .termsConditions{
    margin: 0 auto 5px 80px;
  }
  
  .pageTitle{
    font-size: 2em;
    font-weight: bold;
  }
  .secondaryTitle{
    color: grey;
  }
  
  .name {
    background-color: #ebebeb;
    color: black;
  }
  
  
  .email {
    background-color: #ebebeb;
    height: 2.5em;
  }
  
  
  
  
  .message {
    background-color: #ebebeb;
    overflow: hidden;
    height: 10rem;
  }
  
  
  
  .formEntry {
    display: block;
    margin: 30px auto;
    min-width: 300px;
    padding: 10px;
    border-radius: 2px;
    border: none;
    transition: all 0.5s ease 0s;
  }
  
  .submit {
    width: 200px;
    color: white;
    background-color: #0e3721;
    font-size: 20px;
  }
  
  .submit:hover {
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
    transform: translateY(-3px);
    width: 300px;
    border-top: 5px solid #0e3750;
    border-radius: 0%;
  }





  /*Footer*/


.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer{
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
  margin-top: 80%;
}

.footer p{
  color: #8a8a8a;
}

.footer h3{
  color: #fff;
  margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-4{
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1{
  flex-basis: 30%;
}
.footer-col-2{
  flex: 1;
  text-align: center;
}

.footer-col-2 img{
  width: 180px;
  margin-bottom: 20px;
}

.footer-col-4{
  flex-basis: 12%;
  text-align: center;
}

ul{
  list-style-type: none;
}

.app-logo{
  margin-top: 20px;
}
.app-logo img{
  width: 140px;
}
  
  
  iframe{
    margin-left: 27%;
    margin-top: 10%;
  }